@font-face {
    font-family: "SF-Display";
    src: url("font/SFDisplay-Thin.otf") format("opentype")
}

html, body{
    margin: 0;
    padding: 0;
    overflow:hidden;
    height:100%;
    max-height: 100%;
    position: relative
}

#container{
    overflow:hidden;
    pointer-events:none;
    background-color:white;
    text-align: center;
    height:88.4vh;
    #pic187 {
        overflow:hidden;
        height: 15%;
        img{
            height: 100%;
        }
    }
    #picFakeScreen{
        overflow:hidden;
        height: 65%;
        img{
            height: 100%;
        }
    }
    #paragraph{
        height: 20%;
        position: relative;
        p{
            font-family: "SF-Display";
            color: #6601ff;
            a{
                font-size: 80%;
                text-decoration: none;
                color: #6601ff;
                &:visited {
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;
                    color: #a187c7
                }

                &:active {
                    text-decoration: underline;
                    color: #a187c7
                }   
            }
        }
        
    }
}


#ombrePortrait{
     left: 0vw;
    width:100vw;
    position:absolute;
    top: 83.5vh;
    height: 1vh;
    background: linear-gradient(to top, rgba(21, 20, 20, 0.2), rgba(255, 255, 255, 0.2));
    z-index:4;
}

.up{
      transform: translate(-50%,-50%);
}


#menuPortrait{
    z-index: 1;
    position:absolute;
    margin-top: 3vh;
    text-align: center;
    background-color:white;
    top: 88.4vh;
    cursor: pointer;
    margin-top: 0;
    height: 35vh;
    width:100%;

    
    #burger {
        height:16%;
        margin-top:2vh;
        img{
            height: 90%;
        }
    }
    
    #iconTech{
                width:100%;
                height: 16%;
                img{
                    height: 90%;
                }
            }
            
    #iconRSocial{
        width:100%;
        height: 12.5%;
        img{
            height: 80%;
            &:first-child{
                margin-right:3vw;
            }
            &:last-child{
                margin-left:3vw;
            }
        }
    }
    
    #coordonnees{
        margin-left: auto;
        margin-right:auto;
        width:90%;
        height:20%;
        .line{
            display:inline-table;        
            .half{
                width: 50%;
                height:20px;
                &:first-child{
                    text-align: right
                }
                &:last-child{
                    text-align: left
                }
            }    
            
            p{
                display:inline-block;
                color: #6601ff;
                font-size: 3.7vw;
                text-align: left;
                width:85%;
            }

            .bulletPortrait{

                        vertical-align: top;
                        padding-top: 0.7vh;
                        font-size:1vw;
                        width: 1.5vw;
                        color: lightgrey;   
                        padding-left:3%;
                        padding-right:3%;
            }
        }
        
    }
    
    #iconAppli{
        margin-bottom: 2vw;
        width:100%;
        height:15%;
        
        img{
            height: 80%;
            
            &:last-child{
                margin-left:3vw;
            }
        }
        a img{
                margin-right:3vw;
                margin-left:0vw!important;
        }
    }
    
}

#ombreLandscape{
    left: 0vw;
    width:100vw;
    position:absolute;
    top: 75vh;
    height: 1vh;
    background: linear-gradient(to top, rgba(21, 20, 20, 0.2), rgba(255, 255, 255, 0.2));
    z-index:4;
}

#menuLandscape{
    z-index: 1;
    position:absolute;
    width:80%;    
    height: 9vh;
    top: 94.5vh;    
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    background-color:white;
         
    
    
            .line{
            display:inline-table;
            width:100%;
            height:100%;
            
            #iconRSocial{
                width:14%;
                vertical-align: initial;
                text-align: right;
                img{
                    margin-right: 8%;
                    width: 22%;
                }
            }
            
            #iconTech{
                width:12%;
                height: 12.5%;
                vertical-align: initial;
                img{
                    padding-left: 10%;
                    width: 85%;
                    
                }
            }
            
            #iconAppli{
                width: 19%;
                height:15%;
                vertical-align: initial;
                .bulletLandscape{
                        vertical-align: text-top;
                        width: 1.5vw;
                        color: lightgrey;     
                        margin-right:3%;
                        font-size: 1vw;
                 }
                img{
                    margin-right: 2%;
                    width: 25%;
                }
            }
            
            .bulletLandscape{

                    display: inline-block;
                    vertical-align: baseline;
                    width: 1.5vw;
                    color: lightgrey;     
                    margin-right:1.5%;
                    margin-left:1.5%;
                    font-size: 1vw;

                }
             
            .half{
                width: 25%;
                height:20px;
                display: inline-table;
                text-align: center;
                color: #6601ff;
                text-decoration:none !important;
                vertical-align: super;
                
                    a{
                        color: #6601ff;
                        text-decoration:none !important;
                    }
                    span[x-apple-data-detectors] {
                        color: inherit !important;
                        text-decoration: none !important;
                        font-size: inherit !important;
                        font-family: inherit !important;
                        font-weight: inherit !important;
                        line-height: inherit !important;
                  }
                
             
            }    
            
             .small {
                    width: 8%;
                    text-align: left;
                    vertical-align:baseline;
                    p{
                        width:39%;
                    }
                    p:first-of-type{
                        width:24%;
                    }
                        
                }
        }
    }
    
    
    


.click{
 }



